<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
{% block body %}

    <nav class="nav">
        <a class="nav-link" href="{{ '/register' }}">Inscription</a>
        <a class="nav-link" href="{{ '/tchat' }}">Tchat</a>
        <a class="nav-link disabled" href="{{ 'logout' }}">Logout</a>
    </nav>

    {% for message in messages %}
            {{ message.message }}
    {% endfor %}

    <footer>
        <form method="post" action="{{ '/tchat' }}">
            <input type="text" id="message" name="message" placeholder="message">
            <button type="submit" name ="send" value="send">send</button>
        </form>
    </footer>


{% endblock %}


{% block javascripts %}{% endblock %}
</body>
</html>
